header{
    height: 200px;
}
/* .sec1{
    background-color: rgb(225, 225, 225);
} */

.cart-pay{
    position: fixed;
    z-index: 2000;
 


}
.layer{
    position: absolute;
    inset: 0;
    
    
}
.payment{
    width: 400px;
    height: 500px;
    z-index: 87;
    position: fixed;
    top: 10%;
    left: 35%;
    bottom: 10%;
    z-index: 2000;
}
.collapse ul li{
    position: relative;
}
.collapse ul .active::after{
    content: "";
    position: absolute;
    left: 10px;
   
    right: 10px;
    bottom: 0;
    height: 2px;
    background-color: black;
    transition: all 0.5s;
}
.collapse ul li::after{
    content: "";
    position: absolute;
    left: 10px;
   
    right: 100%;
    bottom: 0;
    height: 2px;
    background-color: black;
    transition: all 0.5s;
}

.collapse ul li:hover::after{
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 2px;
    background-color: black;
}